<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xj.sample.mapper.Map3dtileMapper">
   <resultMap type="com.xj.sample.entity.Map3dtile" id="getClassMap">
		<result column="Type" property="type" jdbcType="INTEGER" />
		<result column="Zoom" property="zoom" jdbcType="INTEGER" />
		<result column="X" property="x" jdbcType="INTEGER" />
		<result column="Y" property="y" jdbcType="INTEGER" />
		<result column="Tile" property="tile" jdbcType="LONGBLOB" />
	</resultMap>
	<select id="getMap3dtile" resultMap="getClassMap"> 
		select map3dtile.*
		from map3dtile
		where map3dtile.id=#{id}
	</select>
	
	
	<select id="listMap3dtile" resultMap="getClassMap"> 
		select map3dtile.*
		from map3dtile
		where 1=1
		<if test="keyword !=null and keyword !=''">
		and (
					map3dtile.Type like concat(concat('%',#{keyword}),'%') or 
					map3dtile.Zoom like concat(concat('%',#{keyword}),'%') or 
					map3dtile.X like concat(concat('%',#{keyword}),'%') or 
					map3dtile.Y like concat(concat('%',#{keyword}),'%') or 
					map3dtile.Tile like concat(concat('%',#{keyword}),'%') or 
			map3dtile.remark like concat(concat('%',#{keyword}),'%'))
		</if>
		limit #{pageNumber},#{pageSize}
	</select>
	
	
	<select id="getTotal" resultType="java.lang.Integer">
		select count(*)
		from map3dtile
		where 1=1
		<if test="keyword !=null and keyword !=''">
		and (
					map3dtile.Type like concat(concat('%',#{keyword}),'%') or 
					map3dtile.Zoom like concat(concat('%',#{keyword}),'%') or 
					map3dtile.X like concat(concat('%',#{keyword}),'%') or 
					map3dtile.Y like concat(concat('%',#{keyword}),'%') or 
					map3dtile.Tile like concat(concat('%',#{keyword}),'%') or 
			map3dtile.remark like concat(concat('%',#{keyword}),'%'))
		</if>
	</select>
</mapper>